@import url("https://fonts.googleapis.com/css2?family=Calistoga&family=Inter:wght@400;500;600;700&display=swap");

:root {
  --bg-primary: #141414;
  --bg-secondary: #1f1f1f;
  --bg-tertiary: #2b2b2b;

  --white: #ffffff;

  --text-gray: #979797;

  --orange: #fe6a0f;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: "Inter";
  background-color: var(--bg-primary);
  color: var(--white);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.logo {
  font-family: "Calistoga";
  font-size: 2rem;
  text-decoration: none;
  color: var(--white);
}
.logo span {
  color: var(--orange);
}

/* Header */

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .menu-ul {
  display: flex;
  gap: 3rem;
  font-size: 1.2rem;
}
.menu-ul a {
  color: var(--white);
}
.menu-nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.link-pedido {
  font-size: 1rem;
  color: var(--white);
  border: 1px solid var(--white);
  padding: 0.8rem 1.2rem;
  border-radius: 0.5rem;
}
.menu-ul a:hover,
.link-pedido:hover {
  color: var(--text-gray);
}
.link-pedido:hover {
  border-color: var(--text-gray);
}
.menu-burguer-container {
  display: none;
}
.menu-burguer-container .bar {
  width: 32px;
  height: 3px;
  background-color: var(--white);
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .menu-burguer-container {
    display: block;
  }
  .menu-nav {
    display: none;
  }
}

/* Banner*/

.burguer-banner {
  display: flex;
  justify-content: space-between;
  padding-top: 4.375rem;
}
.burguer-banner .leftContent {
  margin-bottom: 10rem;
}
.burguer-banner .leftContent h1,
.burguer-banner .leftContent h1 span {
  font-size: 4.5rem;
  font-family: "Calistoga";
  font-weight: 400;
  padding-bottom: 3.5rem;
  line-height: 4.625rem;
  max-width: 13ch;
}
.burguer-banner .leftContent h1 span {
  color: var(--orange);
}
.burguer-banner .leftContent p {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem;
  padding-bottom: 4.5rem;
  max-width: 40ch;
}
.burguer-banner .leftContent a {
  display: block;
  width: max-content;
  color: var(--white);
  background-color: var(--orange);
  padding: 1rem 5.19rem;
  border-radius: 0.3125rem;
}

.burguer-banner .rightContent img {
  max-height: 600px;
}

@media (max-width: 1024px) {
  .burguer-banner .leftContent h1,
  .burguer-banner .leftContent h1 span {
    font-size: 3.5rem;
  }
  .burguer-banner .rightContent img {
    max-height: 500px;
  }
}

@media (max-width: 768px) {
  .burguer-banner {
    flex-direction: column;
    align-items: center;
  }
  .burguer-banner .leftContent h1,
  .burguer-banner .leftContent h1 span {
    font-size: 3rem;
    padding-bottom: 2rem;
    max-width: initial;
  }
  .burguer-banner .leftContent p {
    font-size: 1.3rem;
    padding-bottom: 2.5rem;
    max-width: initial;
  }
  .burguer-banner .rightContent img {
    max-height: 300px;
  }
  .burguer-banner .leftContent {
    margin-bottom: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* BURGUER SEARCH*/

.burguer-search {
  margin-top: -8rem;
  background-color: var(--bg-secondary);
  padding: 4rem 0;
  width: 100%;
}
.container-search {
  display: flex;
  justify-content: space-between;
}
.burguer-search h2 {
  margin-bottom: 2rem;
  font-weight: 500;
}
.container-input,
.container-select {
  background-color: var(--bg-tertiary);
  border-radius: 0.3rem;
}
.container-input input,
.container-select select {
  background-color: transparent;
  width: 100%;
  padding: 1rem 3rem;
  border: none;
  outline: none;
  color: var(--text-gray);
  font-size: 1.2rem;
}
.container-select select {
  border-right: 20px solid transparent;
}
.container-input input {
  background: url("../img/searchIcon.png") no-repeat;
  background-position: left center;
  margin-left: 1rem;
}

@media (max-width: 768px) {
  .burguer-search {
    margin-top: -4rem;
  }
  .container-search {
    flex-direction: column;
    gap: 2rem;
  }
  .burguer-search h2 {
    text-align: center;
  }
}



/* BURGUER LIST*/

.burguer-list-container {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
.card-burguer {
  background-color: var(--bg-secondary);
  border-radius: 10px;
}
.card-burguer .img-burguer {
  border-radius: 10px 10px 0 0;
  background-color: var(--bg-tertiary);
  width: 100%;
  display: flex;
  justify-content: center;
}
.card-burguer .img-burguer img {
  margin-bottom: -2rem;
  padding-top: 2rem;
}
.card-burguer .desc-burguer {
  padding: 2.5rem 2rem 1rem 2rem;
}
.card-burguer .desc-burguer span {
  display: block;
}
.desc-burguer .tradicional {
  font-size: 1.125rem;
  font-weight: 500;
  padding-bottom: 0.62rem;
}
.desc-burguer .nome-burguer {
  font-size: 2rem;
  font-family: 'Calistoga';
  font-weight: 400;
  padding-bottom: 0.31rem;
}
.desc-burguer .valor-burguer {
  font-size: 2rem;
  font-weight: 600;
  color: var(--orange);
}